.ButtonGroup {
  background-color: transparent;
  color: white;
  font: inherit;
  text-decoration: none;
  padding: 0 25px;
  margin: auto;
}

@media (min-width: 2000px) {
  .ButtonGroup {
    font-size: 2rem;
  }
}

@media (min-width: 3000px) {
  .ButtonGroup {
    font-size: 3.4rem;
  }
}
