.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
:root {
  --line-size: 3px;
  --line-colour: white;
  --hover-colour: white;
}
.wrapper {
  width: 100%;
}
.tabs {
  position: relative;
  width: 50%;
  margin-left: 50%;
}

/* Tabs list */
.tabs-list {
  display: flex;
  flex-flow: row;
  font-size: 1.3rem;
}

.tabs-list__item {
  margin: auto;
}

@media (max-width: 800px) {
  .tabs-list__item {
    flex: 1 1 auto;
    text-align: center;
    margin: 0;
  }
  .tabs {
    width: 100%;
    margin: auto;
  }
  .tabs-list {
    display: flex;
    flex-flow: row;
    font-size: 0.8rem;
  }
  .hide-mobile {
    display: none;
  }
}

/* Tab buttons/links */
.tabs-list__tab {
  display: block;
  color: white;
  padding: 5px 6px;
  background: none;
  transition: background-color 600ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

.tabs-list__tab:hover {
  color: var(--hover-colour);
}

/* Static active state underline */
.tabs-list__tab:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: var(--line-size);
  width: 100%;
}

.tabs-list__tab.active:after {
  background-color: var(--line-colour);
}

/* Hide static active underline while animating */
.tabs-list__tab.active.animating:after {
  background-color: transparent;
}

/* Animated underline */
.tabs-list__underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--line-size);
  background-color: var(--line-colour);
}
