.MobileNav {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(2, 201, 201);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 140;
  color: white;
  padding-top: 2vh;
  display: none;
}

.MobileNav nav {
  height: 100%;
  padding: 0 3vw 0 2vw;
}
.DrawerToggle {
  display: none;
}

@media (max-width: 590px) {
  .MobileNav {
    display: block;
    padding: 3vw;
  }
}

@media (min-width: 2000px) {
  .MobileNav {
    height: 70px;
  }
}
@media (min-width: 3000px) {
  .MobileNav {
    height: 110px;
  }
}
